html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.update input{
  margin: 10px 0;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid lightsteelblue;
  font-size: large;
}
.update label{
font-size: larger;
}
.updateText{
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  font-family: monospace;
  color: crimson;
}
.btn{
  background-color: dodgerblue;
  color: antiquewhite;
}
.addUser{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}
.form{
  justify-content: center;
  align-items: center;
}